{%  extends 'base.html' %}
{% load staticfiles %}
{% block header %}
	<title>Login</title>
{% endblock %}
{% block body %}
<header class=" full-page">
		<div class="container" id="maincontent" tabindex="-1">
				<div class="row">
						<div class="col-lg-12">
								<img class="img-responsive" src="{% static 'img/bebenet1.png' %}" alt="" height="100" width="400">
								<div class="intro-text">
										<!-- <h1 class="name">Bebênet</h1> -->
										<hr class="star-light">
										<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
											{% csrf_token %}
											<p>
												{{ form.username.label_tag }}
												{{ form.username }}
												{{ form.password.label_tag }}
												{{ form.password }}
											</p>
											{% if form.errors %}
												<p><strong>Usuário e/ou Senha incorretos, Por Favor tente novamente</strong></p>
											{% endif %}
											<button id="signinBtn" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
											<input type="hidden" name="next" value="/dashboard" />
										</form>
								</div>
						</div>
				</div>
		</div>
</header>
{% endblock %}
